node_modules
build
dist
venv
env
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.git
.gitignore
.dockerignore
Dockerfile
README.md
backend/polyline_generation.log
backend/db.json
backend/db_backup.json
.env
*.pem
*.local
